/*********** GOOGLE FONTS **********/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


/*********** RESPONSIVE FONT SIZE VARIABLES **********/
:root {
	--h1: clamp(2.5rem, 5vw, 4rem);
	--h2 : clamp(1.6rem, 2.5vw, 2rem);
	--p: clamp(0.75rem, 1vw ,1rem);
}


/*********** GRID CONTAINER **********/
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto auto 15vh;
}


/*********** HEADER **********/
.header {
	box-sizing: border-box;
	background-color: #5f0358;
	grid-column-start: 1;
	grid-column-end: span 2;
	height: auto;
	padding: 0%;
}

.header img {
	max-width: 100%;
	height: auto;
	width: 100%;
}


/*********** NAVIGATION **********/
.nav {
	background-color: #4d0548;
	grid-column-end: span 2;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
}

.fa {
	font-size: 14px;
	border-radius: 15px;
	padding: 5px;
	margin: -2px;
	margin-right: 10px;
	text-align: center;
	color: #4d0548;
	background-color: white;
}


/*********** NON ADMIN BURGER MENU **********/
.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-right: auto;
	gap: 5px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.nav-links-left {
	left: 0px;
}

/*********** BOTH NAV MENUS **********/
.nav-links {
	display: none;
	position: absolute;
	top: 34px;
	flex-direction: column;
	background-color:#4d0548;
	padding: 10px;
	list-style: none;
	z-index: 100;
	width: 200px;
	box-sizing: border-box;
}

.nav-links.active {
  	display: flex;
}

.nav-links li {
  	margin-bottom: 10px;
}

.nav-links li:last-child {
  	margin-bottom: 0;
}

.nav-links li a {
 	text-decoration: none;
  	color: white;
  	font-weight: bold;
	font-family: "Google Sans", sans-serif;
}

.nav-links li:hover {background-color: #ab3cc7; padding: 10px;} /*highlight*/

/*********** ADMIN BURGER MENU **********/
.nav h1 {
	color: white;
}

.nav .fa-circle-user {
	margin-left: auto;
}

.nav-links-right {
	right: 0px;
}


/*********** CONTENT **********/
.content {
	box-sizing: border-box;
	background-color: #8f2587; 
	position: relative;
	grid-column-end: span 2;       
}

/*********** CONTENT: ADMIN PAGES **********/

.admin {
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
}

.content h1 {
	font-size: var(--h1);
	color: white;
	font-family: "Google Sans", sans-serif;
	text-align: center;
}


.content h2 {
	font-size: 1rem;
	color: white;
	font-family: "Google Sans", sans-serif;
}

.content-bg {
	background-image: url("../images/Background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*********** ADMIN FORMS **********/
.form-box { 
  	background-color: #370433; 
  	width: 40%; 
	min-height: 400px;
	margin-bottom: 110px;
  	display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
  	align-items: center; 
} 

/*** Media Query for Phone Size ***/
@media (max-width: 600px) {
  .form-box {
    	width: 85%;
  }
}

/*** Media Query for Tablet Size ***/
@media (max-width: 960px) {
  .form-box {
    	width: 85%;
  }
}

.form-box p {
	background: white;
	color: black;
	padding: 5px;
	margin-bottom: 15px;
	font-family: "Google Sans", sans-serif;
}

/*********** LOGIN PAGE **********/
form[id="01_login"] {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

form[id="01_login"] h4 {
	margin: 0 0 8px 0;
	color: white;
	font-size: 12px; /* change to responsive font */
	font-family: "Google Sans", sans-serif;
}

form[id="01_login"] input[type="text"],
form[id="01_login"] input[type="password"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
}

form[id="01_login"] input[type="submit"] {
    width: 100%;
    height: 45px;
	margin-bottom: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/*********** ADD USER PAGE **********/
form[id="02_add_user"] {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

form[id="02_add_user"] h4 {
	margin: 0 0 8px 0;
	color: white;
	font-size: 12px; /* change to responsive font */
	font-family: "Google Sans", sans-serif;
}

form[id="02_add_user"] input[type="text"],
form[id="02_add_user"] input[type="password"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
}

form[id="02_add_user"] input[type="submit"] {
    width: 100%;
    height: 45px;
	margin-bottom: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}


/*********** UPDATE PASSWORD PAGE **********/
form[id="03_update_password"] {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

form[id="03_update_password"] h4 {
	margin: 0 0 8px 0;
	color: white;
	font-size: 12px; /* change to responsive font */
	font-family: "Google Sans", sans-serif;
}

form[id="03_update_password"] input[type="text"],
form[id="03_update_password"] input[type="password"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
}

form[id="03_update_password"] input[type="submit"] {
    width: 100%;
    height: 45px;
	margin-bottom: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/*********** DELETE USER PAGE **********/
form[id="04_delete_user"] {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

form[id="04_delete_user"] h4 {
	margin: 0 0 8px 0;
	color: white;
	font-size: 12px; /* change to responsive font */
	font-family: "Google Sans", sans-serif;
}

form[id="04_delete_user"] input[type="text"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
}

form[id="04_delete_user"] input[type="submit"] {
    width: 100%;
    height: 45px;
	margin-bottom: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/*********** CONTENT: HOME PAGE **********/
.panel {
	padding: 120px;
}

.panel-2 {
	background-color: #4d0548;
}

.panel h1 {
	text-align: left;
	font-family: "Google Sans", sans-serif;
	font-size: var(--h1);
}

.panel h2 {
	text-align: left;
	font-size: var(--h2);
	font-weight: bold;
}

.panel p {
	color: white;
	font-family: "Google Sans", sans-serif;
	font-size: var(--p);
}

.panel-2 p {
	margin-top: 20px;
	text-align: center;
}


.panel-1, .panel-3 {
	display: flex;
  	justify-content: space-between; 
  	align-items: stretch; /* align tops */
}

.text, .video {
	flex: 1;
}

.image, .accordion-container {
	flex: 1;
	margin-left: 50px;
}


/*** Media Query for Tablet Size ***/
@media (max-width: 768px) {
	.panel-1, .panel-3 {
    	flex-direction: column;
    	align-items: center;
  }

  	.text, .image, .video, .accordion-container {
    	max-width: 90%;
    	width: 90%;
	  	margin: 20px;
  }
	.panel {
		padding: 20px;
	}
	
	.panel h1, .panel h2 {
		text-align: center;
	}
	

}

.fa-star {
	font-size: clamp(2rem, 5vw, 2.75rem);
	border-radius: 100px;
	padding: 10px;
	margin: 0px;
	margin-right: 10px;
}

.image img {
	max-width: 100%;
	height: auto;
	width: 100%;
}


/*********** HOME PAGE IMAGE CAROUSEL **********/

.album-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	background-color: #8f2587;;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Individual albums */

.album-card {
    display: none;
    text-align: center;
    width: 100%;
	margin-top: 20px;
}

.album-card.active {
    display: block;
}


/* Album cover */

.album-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}


/* Album information */

.album-info h3 {
    margin: 15px 0 5px;
	color: white;
	font-family: "Google Sans", sans-serif;
}

.album-info p {
    margin: 0;
}


/* Arrow buttons */

.album-carousel-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
	border: none;
	outline: none;
	background-color: white;
	border-radius: 10px;
}

.album-carousel-btn:hover {
    background-color: #ab3cc7;
}

.album-prev {
    left: 30%;
}

.album-next {
    right: 30%;
}

.fa-arrow-right, .fa-arrow-left {
	background-color: transparent;
	color: #4d0548;
	font-size: var(--h2);
	margin-right: 2px;
}

.video iframe {
	width: 100%;
	height: auto;
	max-height: 100%;
	aspect-ratio: 16/9;
	max-width: 100%;
}


/*********** RESPONSIVE DESIGN ***********/

@media (max-width: 600px) {

    .album-carousel-window {
        width: 70%;
    }

    .album-carousel-btn {
        padding: 8px 11px;
        font-size: 18px;
    }

    .album-prev {
        left: 2%;
    }

    .album-next {
        right: 2%;
    }

}


/*********** HOME PAGE ACCORDION TEXT **********/
.accordion-item {
	margin-bottom: 10px;
}

.accordion {
	background-color: #4d0548;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	font-weight: bold;
	font-size: 24px;
}

.activeAccordion, .accordion:hover {
	background-color: #ab3cc7;
}

.section {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	
	/* for animation */
	max-height: 0;
	transition: max-height 0.2s ease out;
}

.accordion:after {
	content: "+";
	color: white;
	font-size: 13px;
	float: right;
	margin-left: 5px;
}

.activeAccordion:after {
	content: "-"; 
}

.section p {
	color: black;
	margin: 15px;
}

.section ul {
	font-family: "Google Sans", sans-serif;
	font-size: var(--p);
}

/*********** CONTENT: PLAYLIST PAGE ***********/
.playlist-flex {
  	display: flex;
  	justify-content: space-between; 
  	align-items: stretch; /* align tops */
	min-height: 400px;
}

.query-box {
	flex: 2;
	margin: 50px;
	background-color: #5f0358;
}

.query-box h2 {
	margin-top: -20px;
	font-size: var(--h2);
	font-weight: normal;
	text-align: center;
}

.playlist-headphones {
	font-size: clamp(2rem, 5vw, 2.75rem);
	border-radius: 100px;
	padding: 10px;
	margin: 0px;
	margin-right: 10px;
}

/*********** FIELD NAME DIVS ***********/
.field-names {
	width: 95%;
	display: grid;
	grid-gap: 1%;
	padding-left: 4%;
	grid-template-columns: 7% 32% 10% 26% 10% 7%;
	grid-template-rows: 35px;
	margin-top: 15px;
}

.field-names div {
	text-align: center;
	background-color: white;
}

.field-names h2 {
	color: black;
	font-weight: bold;
	margin: 7px;
	font-size: 14px;
	font-family: "Google Sans", sans-serif;
}

.field-output {
	width: 95%;
	display: grid;
	grid-gap: 1%;
	padding-left: 4%;
	grid-template-columns: 7% 32% 10% 26% 10% 7%;
	grid-template-rows: 20px;
	margin-top: 1%;
}

.field-output div {
	padding-left: 5px;
	background-color: white;
}

p { 
	font-family: "Google Sans", sans-serif;
	color: black;
	margin: -2px;
	margin-top: 1.5px;
	font-size: .7em
}

@media screen and (max-width: 960px) {
	.query-box {
		margin: 20px 10px;
        padding: 15px;
    }

    .query-box > h2 {
        font-size: 14px;
        margin-top: 0;
    }

    .field-names {
        display: none;
    }

    .field-output {
        width: 100%;
        display: block;
        padding-left: 0;
        margin-top: 15px;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
    }

    .field-output div {
        display: flex;
        padding: 5px 0;
        background-color: white;
    }

    .field-output div::before {
        content: attr(data-label);
        font-weight: bold;
        width: 90px;
        flex-shrink: 0;
		font-family: "Google Sans", sans-serif;
    }

    .field-output p {
        margin: 0;
        font-size: 0.8em;
    }
}


/*********** CONTENT: CONTACT PAGE ***********/
.contact-flex {
  	display: flex;
  	justify-content: space-between; 
  	align-items: stretch; /* align tops */
	min-height: 400px;
}

.contact-box {
	flex: 1;
	margin: 50px;
	margin-left: 25px;
	background-color: #5f0358;
	display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
  	align-items: center; 
	padding-top: 50px;
}

.message-box {
	flex: 1;
	margin: 50px;
	margin-right: 25px;
	background-color: #5f0358;
}

/*** Media Query for Tablet Size ***/
@media (max-width: 768px) {
  .contact-flex {
    	flex-direction: column;
    	align-items: center;
  }

  .message-box, .contact-box {
    	max-width: 90%;
    	width: 90%;
	  	margin: 20px;
  }
}

/*********** CONTACT FORM **********/
form[id="contact_form"] {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

form[id="contact_form"] h4 {
	margin: 0 0 8px 0;
	color: white;
	font-size: 12px; /* change to responsive font */
	font-family: "Google Sans", sans-serif;
}

form[id="contact_form"] input[type="text"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
}

form[id="contact_form"] textarea {
	width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
	font-family: "Google Sans", sans-serif;
}

form[id="contact_form"] input[type="submit"] {
    width: 100%;
    height: 45px;
	margin-bottom: 50px;
	margin-top: 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.message-box p {
	color: white;
	font-family: "Google Sans", sans-serif;
	font-size: var(--p);
	margin: 50px;
	margin-top: 0px;
}

.message-box hr {
	margin: 50px;
}

/*********** FOOTER **********/
.footer {
	background-color: #4d0548;
	grid-column-end: span 2;
	min-height: 100px;
}

.footer h5 {
	margin: 10px;
	font-family: 'Google Sans', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
	padding-top: 80px;
}

/*********** BACK TO TOP BUTTON **********/
#myBtn {
  	display: none; /* Hidden by default */
  	position: fixed; /* Fixed/sticky position */
  	bottom: 20px; /* Place the button at the bottom of the page */
  	right: 30px; /* Place the button 30px from the right */
  	z-index: 99; /* Make sure it does not overlap */
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: black; /* Set a background color */
  	color: white; /* Text color */
  	cursor: pointer; /* Add a mouse pointer on hover */
  	padding: 15px; /* Some padding */
  	border-radius: 10px; /* Rounded corners */
  	font-size: 18px; /* Increase font size */
  	font-family: 'Rubik', sans-serif;
	opacity: 0.7;
}

.fa-arrow-up {
	background-color: transparent;
	margin: -2px;
	color: white;
}

#myBtn:hover {
  	background-color: #ab3cc7; 
	opacity: 100%;
}
